@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
